<body>
  <app-titulos-menus titulo="SEJA UM FRANQUEADO"></app-titulos-menus>
  <div class="posicao-descricao">
    <p class="descricao-franquias">
      Com o aumento da demanda por serviços de estética masculina, passamos a
      permitir que empreendedores possam virar franqueados de uma franquia de
      fácil implantação e gestão, que fornece todo o know-how e suporte de um
      projeto que já é sucesso com várias unidades. E o melhor de tudo é que o
      investimento necessário é super acessível. Saiba mais baixando nossa
      Apresentação Completa.
    </p>
  </div>
  <app-imagem-franquias></app-imagem-franquias>
  <app-form-franquias></app-form-franquias>
</body>
