<body>
  <app-titulos-menus titulo="ESCOLHA SUA UNIDADE"></app-titulos-menus>

  <mat-grid-list cols="3" rowHeight="2:2.237" [gutterSize]="'0.2px'">
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle
            ><h2><h2>Shoping Iguatemi</h2></h2></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            Av. Brg. Faria Lima, 2.232
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3032-4716
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            garagemestetica@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Segunda a sábado das 10h00 às 22h00 Domingos e feriados das 14h00 às
            20h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
          >
            Agendar Horário Barbearia Shopping Iguatemi
          </a>
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle
            ><h2>Shoping Cidade São Paulo</h2></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            Av. Paulista, 1230 - Loja 1230 - Piso Térreo
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3595-2547
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            garagemestetica@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Segunda a sábado das 10h00 às 22h00 Domingos e feriados das 14h00 às
            20h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
          >
            Agendar Horário Barbearia Shopping Cid. São Paulo
          </a>
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Shoping Villa Lobos</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            Av. Das Nações Unidas, 4.777
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3021-0390
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            villalobos@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Segunda a sábado das 10h00 às 22h00 Domingos e feriados das 14h00 às
            20h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Shopping Villa Lobos</a
          >
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card>
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Shoping Paulista</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            R.Treze de Maio, 1947
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3142-9356
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            paulista@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Segunda a sábado das 10h00 às 22h00 Domingos das 14h00 às 20h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Shopping Paulista</a
          >
        </button>
      </mat-card></mat-grid-tile
    >
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Shoping Jardim Sul</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            Av. Giovanni Gronchi, 5.000
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3507-5935
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            jardimsul@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Segunda a sábado das 10h00 às 22h00 Domingos das 14h00 às 20h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Shopping Jardim Sul</a
          >
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Vila Mariana</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            R.Áurea, 344
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 4114-2127
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            vilamariana@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Terça a sexta das 10h00 às 21h00 Sábado das 09h00 às 19h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Vila Mariana</a
          >
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Perdizes</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            R.Dr. Homem de Melo, 420
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3675-1115
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3862-5306
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            perdizes@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Segunda a sexta das 10h00 às 21h00 Sábado das 09h00 às 19h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Perdizes</a
          >
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Itaim</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            R.Prof. Atílio Innocenti, 731
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3044-6551
            <i class="material-icons">phone_enabled</i>
            +55 (11) 3044-5291
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            garagemestetica@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Segunda a sexta das 10h00 às 19h00 Sábado das 10h00 às 17h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Itaim</a
          >
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Anália Franco</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            R.José Óscar Abreu Sampaio, 134
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 2675-0005
            <i class="material-icons">phone_enabled</i>
            +55 (11) 2674-0074
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            analiafranco@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Terça a sexta das 10h00 às 21h00 Sábado das 09h00 às 19h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Anália Franco</a
          >
        </button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia</h2></mat-card-title>
          <mat-card-subtitle><h2>Moema</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a>
            <i class="material-icons">location_on</i>
            Av. Agami, 183
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">phone_enabled</i>
            +55 (11) 5052-7511
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">mail</i>
            garagemestetica@garagemestetica.com.br
          </a>
        </mat-card-content>
        <mat-card-content>
          <a>
            <i class="material-icons">schedule</i>
            Terça a sexta das 10h00 às 21h00 Sábado das 09h00 às 19h00
          </a>
        </mat-card-content>
        <button class="btn-agendar">
          <a
            href="https://agendamento.salaovip.com.br/?slug=garagem&franquia=true#/app/widget/"
            >Agendar Horário Barbearia Moema</a
          >
        </button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>
