app-titulos-menus {
  color: #fdcb00;
}

.titulo-posicao-card {
  display: flex;
  justify-content: center;
  text-align: center;
}

mat-card {
  height: 33.5em;
  border: 0.5px solid #54595f;
}

.com-cor {
  background-color: #fdcb00;
}

h2 {
  margin-bottom: 25px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: -1px;
  font-size: 25px;
  color: #000;
}

mat-card-content {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #54595f;
}

a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 90%;
  line-height: inherit;
}

i {
  padding: 0 15px 0 5px;
}

.btn-agendar {
  position: absolute;
  left: 10%;
  top: 75%;
  height: 62px;
  width: 348px;
  padding: 10px 60px 10px 60px;
  background-color: #000;
  color: #fdcb00;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: inherit;
  transition: 0.5s;
}

.btn-agendar > a {
  text-decoration: none;
  color: #fdcb00;
}

.btn-agendar:hover {
  scale: 110%;
  transition: 0.5s;
}
