<body>
  <app-titulos-menus titulo="NOSSOS PACOTES"></app-titulos-menus>

  <h2 class="sub-titulo-pacotes">
    Aqui você encontrará todos os Pacotes da nossa Barbearia.
  </h2>

  <mat-grid-list cols="3" rowHeight="2:2.237" [gutterSize]="'0.2px'">
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia de Alto Padrão</h2></mat-card-title>
          <mat-card-subtitle
            ><h2><h2>PACOTE PIT STOP</h2></h2></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><i class="material-icons">check_circle</i>Corte</li>
            <li>
              <i class="material-icons">check_circle</i>Manicure: Cortar as
              unhas, limpar as cutículas, lixar e hidratar as mãos.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Pedicure: Tratamento
              completo dos pés, corte e limpeza das unhas, esfoliação e
              hidratação dos pés.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia de Alto Padrão</h2></mat-card-title>
          <mat-card-subtitle
            ><h2><h2>PACOTE ESSENCIAL</h2></h2></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><i class="material-icons">check_circle</i>Corte</li>
            <li>
              <i class="material-icons">check_circle</i>Barba: Método
              tradicional com toalhas quentes.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Manicure: Cortar as
              unhas, limpar as cutículas, lixar e hidratar as mãos.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Pedicure: Tratamento
              completo dos pés, corte e limpeza das unhas, esfoliação e
              hidratação dos pés.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia de Alto Padrão</h2></mat-card-title>
          <mat-card-subtitle
            ><h2><h2>PACOTE RELAX</h2></h2></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              <i class="material-icons">check_circle</i>Barba : Método
              tradicional com toalhas quentes.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Massagem anti-stress:
              Essa técnica utiliza movimentos deslizantes e suaves combatendo
              sintomas como irritabilidade, falta de concentração,tensões
              musculares e má circulação sanguínea.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Reflexologia: Através da
              massagem nos pés estimulam os órgãos do corpo com foco
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia de Alto Padrão</h2></mat-card-title>
          <mat-card-subtitle
            ><h2><h2>PACOTE DETOX</h2></h2></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              <i class="material-icons">check_circle</i>Limpeza de pele :
              Indicada para todos os tipos de pele, remove impurezas, nutre e
              hidrata a pele. Propiciando uma aparencia mais jovem e descansada.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Renovação celular:
              Consiste em retirar as células mortas da pele através de uma
              esfoliação e a aplicação de um hidratante corporal.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Manicure: Cortar as
              unhas, limpar as cutículas, lixar e hidratar as mão.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Pedicure: Tratamento
              completo dos pés, corte e limpeza das unhas, esfoliação e
              hidratação dos pés.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-header class="titulo-posicao-card">
          <mat-card-title><h2>Barbearia de Alto Padrão</h2></mat-card-title>
          <mat-card-subtitle
            ><h2><h2>PACOTE ESPECIAL</h2></h2></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><i class="material-icons">check_circle</i>Corte</li>
            <li>
              <i class="material-icons">check_circle</i>Barba: Método
              tradicional com toalhas quentes.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Limpeza de pele :
              indicada para todos os tipos de pele, remove impurezas, nutre e
              hidrata a pele. Propiciando uma aparencia mais jovem e descansada.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Pedicure: Tratamento
              completo dos pés, corte e limpeza das unhas, esfoliação e
              hidratação dos pés.
            </li>
            <li>
              <i class="material-icons">check_circle</i>Massagem anti-stress:
              essa técnica utiliza movimentos deslizantes e suaves combatendo
              sintomas como irritabilidade, falta de concentração,tensões
              musculares e má circulação sanguínea.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="com-cor">
        <mat-card-content>
          <app-imagem-free-beer></app-imagem-free-beer>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>
